* {
    box-sizing: border-box;
    font-family: Roboto, system-ui;
    margin: 0;
    padding: 0;
}

:root {
    --light-blue: #1992D4;
    --gray: #dcdcdc;
}

.main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 2rem 1fr;
    padding: 1rem;
    grid-row: 1 / -1;
    background: var(--light-blue);
    gap: 2rem;
    color: #ffffff;
}

.sidebar-nav ul{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    list-style-type: none;
    gap: 1rem;
}

.sidebar-nav a {
    color: #ffffff;
}

.siderbar .branding {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 5px 5px #b8b8b8fb;
    z-index: 1;
}

.header .searchbar-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.searchbar-section .left-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1.5rem;
}

.searchbar-section .right-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}

.searchbar-section input#searchbar {
    border-radius: 1rem;
    border: none;
    background: var(--gray);
}

.header .buttons-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.buttons-section .user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.buttons-section .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.buttons button {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background: var(--light-blue);
    color: #ffffff;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: var(--gray);
}

.main-content div {
    border: 1px solid black;
}

.main-content .projects {
    grid-row: 1 / -1;
}