* {
    box-sizing: border-box;
    font-family: Roboto, system-ui;
    margin: 0;
    padding: 0;
}

:root {
    --light-blue: #1992D4;
    --gray: #d2d2d2;
}

.main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.main-container div {
    
}

.sidebar {
    display: grid;
    grid-template-rows: 2rem 1fr;
    padding: 1rem;
    grid-row: 1 / -1;
    background: var(--light-blue);
    gap: 2rem;
    color: #ffffff;
}

.sidebar-nav ul{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    list-style-type: none;
    gap: 1rem;
}

.sidebar-nav a {
    color: #ffffff;
}

.siderbar .branding {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 5px 5px #cccccc44;
}

.header .searchbar-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.searchbar-section .left-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.searchbar-section input#searchbar {
    border-radius: 1rem;
    border: none;
    background: var(--gray);
}

.header div {
    border: 1px solid black;
}